// App Menu
#appMenu {
  spacing: $base_padding;
  .label-shadow { color: transparent; }

  // hide icon
  .panel-status-menu-box {
    padding: 0 $base_padding;
    spacing: 0;

    .app-menu-icon {
      width: 0;
      height: 0;
    }
  }
}

